apps/pe/PEWeb/src/main/resources/WebApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright smyld.org Authors.
  ~  *
  ~  * Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  ~  */
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application" type="applicationType">
    <xs:annotation>
      <xs:documentation>~ /*
  ~  * Copyright smyld.org Authors.
  ~  *
  ~  * Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  ~  */</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="logType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="path"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appearanceType">
    <xs:sequence>
      <xs:element type="xs:string" name="LookAndFeel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:sequence>
      <xs:element type="xs:string" name="appmanager"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dirType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="src"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="src"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="imagesType">
    <xs:sequence>
      <xs:element type="dirType" name="dir"/>
      <xs:element type="imageType" name="image"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libraryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="librariesType">
    <xs:sequence>
      <xs:element type="libraryType" name="library" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="languageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="src" use="optional"/>
        <xs:attribute type="xs:string" name="targetName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languagesType">
    <xs:sequence>
      <xs:element type="languageType" name="language" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="srctype"/>
  </xs:complexType>
  <xs:complexType name="settingsfileType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="path"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="srctype"/>
  </xs:complexType>
  <xs:complexType name="targetjarType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="path"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:all>
      <xs:element type="xs:string" name="home"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="icon"/>
      <xs:element type="xs:string" name="logo"/>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="classes"/>
      <xs:element type="xs:string" name="mainClass"/>
      <xs:element type="xs:string" name="applicationType" minOccurs="0" nillable="true"/>
      <xs:element type="xs:string" name="toolkit"/>
      <xs:element type="xs:string" name="LookAndFeel"/>
      <xs:element type="imagesType" name="images"/>
      <xs:element type="librariesType" name="libraries"/>
      <xs:element type="languagesType" name="languages"/>
      <xs:element type="settingsfileType" name="settingsfile"/>
      <xs:element type="targetjarType" name="targetjar"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="menubarType" mixed="true">
    <xs:sequence>
      <xs:element type="menuType" name="menu" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="linkhandler" use="optional"/>
  </xs:complexType>
  <xs:complexType name="windowType" mixed="true">
    <xs:all>
      <xs:element type="menubarType" name="menubar" minOccurs="0"/>
      <xs:element type="bodyType" name="body" minOccurs="0"/>
      <xs:element type="toolbarsType" name="toolbars" minOccurs="0"/>
    </xs:all>
    <xs:attribute type="xs:string" name="onstartup" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="icon" use="optional"/>
    <xs:attribute type="xs:string" name="width" use="optional"/>
    <xs:attribute type="xs:string" name="height" use="optional"/>
    <xs:attribute type="xs:string" name="package" use="optional"/>
    <xs:attribute type="xs:string" name="label" use="optional"/>
  </xs:complexType>
  <xs:complexType name="bodyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="linklistenerto"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="windowsType">
    <xs:sequence>
      <xs:element type="windowType" name="window" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="command" use="optional"/>
        <xs:attribute type="xs:string" name="object" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
        <xs:attribute type="xs:string" name="param" use="optional"/>
        <xs:attribute type="xs:string" name="target" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="actionsType">
    <xs:sequence>
      <xs:element type="actionType" name="action" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="menuType" mixed="true">
    <xs:sequence>
      <xs:element type="menuType" name="menu" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="required"/>
    <xs:attribute type="xs:string" name="action" use="optional"/>
    <xs:attribute type="xs:string" name="icon" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="target" use="optional"/>
    <xs:attribute type="xs:string" name="label" use="optional"/>


  </xs:complexType>
  <xs:complexType name="menusType">
    <xs:sequence>
      <xs:element type="menubarType" name="menubar" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="toolbarType">
    <xs:sequence>
      <xs:element type="menuType" name="menu" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="align"/>
  </xs:complexType>
  <xs:complexType name="toolbarsType">
    <xs:sequence>
      <xs:element type="toolbarType" name="toolbar" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textFieldType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="scope" use="optional"/>
        <xs:attribute type="xs:string" name="row" use="optional"/>
        <xs:attribute type="xs:string" name="col" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="default" use="optional"/>
        <xs:attribute type="xs:string" name="onlostfocus" use="optional"/>
        <xs:attribute type="xs:string" name="ongotfocus" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="listFieldType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="scope" use="optional"/>
        <xs:attribute type="xs:string" name="row" use="optional"/>
        <xs:attribute type="xs:string" name="col" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="panelType">
    <xs:sequence>
      <xs:element type="textFieldType" name="textField" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="listFieldType" name="listField" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="checkboxType" name="checkbox" minOccurs="0"/>
      <xs:element type="radiobuttonType" name="radiobutton" minOccurs="0"/>
      <xs:element type="buttonType" name="button" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="splitType" name="split" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="layout" use="optional"/>
    <xs:attribute type="xs:string" name="position" use="optional"/>
    <xs:attribute type="xs:string" name="border" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="package" use="optional"/>
  </xs:complexType>
  <xs:complexType name="checkboxType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="scope"/>
        <xs:attribute type="xs:string" name="row"/>
        <xs:attribute type="xs:string" name="col"/>
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="selected"/>
        <xs:attribute type="xs:string" name="onclick"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="radiobuttonType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="scope"/>
        <xs:attribute type="xs:string" name="row"/>
        <xs:attribute type="xs:string" name="col"/>
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="selected"/>
        <xs:attribute type="xs:string" name="onclick"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="buttonType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="scope" use="optional"/>
        <xs:attribute type="xs:string" name="row" use="optional"/>
        <xs:attribute type="xs:string" name="col" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
        <xs:attribute type="xs:string" name="onclick" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="scrollpaneType">
    <xs:sequence>
      <xs:element type="panelType" name="panel"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="position"/>
  </xs:complexType>
  <xs:complexType name="splitType">
    <xs:sequence>
      <xs:element type="panelType" name="panel"/>
      <xs:element type="scrollpaneType" name="scrollpane"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="orient"/>
    <xs:attribute type="xs:string" name="position"/>
  </xs:complexType>
  <xs:complexType name="panelsType">
    <xs:sequence>
      <xs:element type="panelType" name="panel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:all>
      <xs:element type="logType" name="log"/>
      <xs:element type="appearanceType" name="appearance"/>
      <xs:element type="linkType" name="link"/>
      <xs:element type="buildType" name="build"/>
      <xs:element type="windowsType" name="windows"/>
      <xs:element type="actionsType" name="actions"/>
      <xs:element type="menusType" name="menus"/>
      <xs:element type="toolbarsType" name="toolbars"/>
      <xs:element type="panelsType" name="panels"/>
    </xs:all>
    <xs:attribute type="xs:string" name="type"/>
    <xs:attribute type="xs:string" name="onstartup"/>
  </xs:complexType>
</xs:schema>